<!-- <div>
    <div class="container col-md-6">
        <h1 style="color: red;">Register</h1>
        <div class="mb-3">
    
     <form (ngSubmit)="userPost()" >
       
     <div class= "mb-3">
     <label for="name" class="form-label">Name</label>
     <input type="text" class="form-control" id="email" name="name" [(ngModel)]="modal.name">
     </div>
     <div class= "mb-3">
        <label for="mobileno" class="form-label">Moblile Number</label>
        <input type="number" class="form-control" id="email" name="mobilno" [(ngModel)]="modal.mobileno" >
     </div>

     <div class= "mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="modal.email">
     </div>
     

     <div class= "mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" [(ngModel)]="modal.password" >
     </div>
     
     
     
     <button type="submit" class="btn btn-primary">Submit</button>
     </form>
     </div>
     
   
   </div>
  
     

    [(ngModel)]="name" 
   (ngSubmit)="userPost()" -->